/*generic css below this line*/
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Poppins', sans-serif;
}
.primary-color {
	color: #235b6e;
}
.primary-background {
	background-color: #235b6e;
	color: #fff;
}
.clearfix:after {
	display: block;
	clear: both;
	content: '';
}
ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
img{
	display: block;
	border: none;
	width: 100%;
}
a {
	text-decoration: none !important;
}
.p-15{
	padding: 15px 15px 15px 15px;
	box-sizing: border-box;
}

.p-x-15{
	padding: 0 15px;
	box-sizing: border-box;
}

.p-y-15{
	padding: 15px 0;
	box-sizing: border-box;
}

.p-r-15{
	padding: 0 15px 0 0;
	box-sizing: border-box;
}

.p-l-15{
	padding: 0 0 0 15px;
	box-sizing: border-box;
}

.m-b-15{
	margin: 0 0 15px 0;
}

.m-r-15{
	margin: 0 15px 0 0;
}

.ads{
	margin: 15px 0;
}

.headlines .ads img , .ads img{
	height: auto;
}

.pagination li {
    padding: 6px 14px;
    border: 1px solid #235b6e;
    margin: 0 6px;
    border-radius: 50%;
    color: #235b6e;
    cursor: pointer;
}

.pagination li.active , .pagination li:hover {
	background-color: #235b6e;
}

.pagination li.active a , .pagination li:hover a{
	color: #fff;
}

.linked-card{
	position: relative;
	padding:  0 0 30px 0;
}

.linked-card a{
	position: absolute;
	height: 100%;
	width: 100%;
	content: '';
	z-index: 1;
}

/*generic css above this line*/
/*main container css*/
.main-container{
	width: 90%;
	margin: auto;
	box-sizing: border-box;
}
/*main container css*/
/*header css*/
.header-top{
	display: flex;
	justify-content: space-between;
	color: #fff;
	height: 32px;
	line-height: 32px;
	font-size: 12px;
}
.header-top a{
	color: #fff;
}
.header-logo{
	text-align: center;
	padding: 25px 0;
}
.logo{
	max-width: 240px;
	display: inline-block;
}
/*header css*/
/*nav css*/
.nav ul li{
	float: left;
}
.nav-logo img{
	width: 90px;
}
.show-tab{
	display: none;
}

section.navbar {
	position: sticky;
	top: 0;
	z-index: 2;
}

.navbar {
	background-color: #235b6e;
	margin-bottom: 0;
	padding: 0;
}
.navbar > li{
	float: left;
	margin-right: 10px;
}
.navbar li a , .dropdown-megamenu .dropbtn {
	color: #fff;
	display: inline-block;
	font-size: 16px;
	padding: 0 6px;
	height: 55px;
	line-height: 55px;
	border: none;
	outline: none;
	background-color: inherit;
}
.dropdown-megamenu {
	float: left;
}
.section-dropdown-menu{
	position: relative;
}
.section-dropdown-menu-child{
	position: absolute;
	top: 44px;
	left: 0;
	width: 220px;
	display: none;
}
.section-dropdown-menu-child li a {
	width: 100%;
	padding: 0 6px;
	box-sizing: border-box;
}
.section-dropdown-menu:hover .section-dropdown-menu-child{
	display: block;
}
.navbar a:hover, .dropdown-megamenu:hover .dropbtn {
	background-color: #ffb819;
}
.megamenu {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	width: 100%;
	left: 0;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.megamenu .row{
	margin: 0;
}

.megamenu .section-headline {
	margin: 16px 0 10px;
    border-bottom: 2px solid #ffb819;
    padding: 0 0 8px 0;
}

.megamenu .header {
	background: #ffb819;
	padding: 16px;
	color: white;
}
.dropdown-megamenu:hover .megamenu {
	display: block;
}

.megamenu div a{
	display: block;
}
/*nav css*/
/*featured news container css*/
.featured-news-container{
	padding: 30px 0;
	text-align: center;
}
.featured-news-container img{
	max-height: 30em;
}
.news-info{
	color: #235b6e;
	font-weight: 500;
	font-size: 14px;
	margin: 6px 0 0 0;
	display: flex;
	justify-content: space-between;
}
.news-headline{
	font-weight: 600;
	font-size: 42px;
	margin: 0 0 24px 0;
}
.news-headline-2 {
	font-weight: 600;
	font-size: 16px;
	margin: 14px 0;
}
.news-content{
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
	margin: 8px 0;
	color: #606060;
}
/*featured news container css*/

/*headlines news*/
.text-over-image-div {
	position: relative;
	height: 300px;
}

.text-over-image-div img{
	height: 100%;
}

.text-over-image-div .text-headline{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	padding: 8px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
	display: flex;
	align-items:flex-end;
	box-sizing: border-box;
}

.text-over-image-div .text-headline a{
	color: #fff;
	font-size: 18px;
}

/*.headlines img{
	height: 300px;
}*/

.news-slider img{
	height: 300px;
}

.section-headline{
	position: relative;
	margin : 0 0 25px 0;
}

.section-headline:after{
	height: 3px;
	width: 5%;
	background-color: #235b6e;
	position: absolute;
	content: '';
	display: block;
}
/*headlines news*/

/*media css*/
.media{
	display: flex;
}

.media img{
	height: 90px;
	width: 90px;
}

.media-vertical {
	margin: 0 0 16px 0;
}

.media h2 , .media-vertical h2{
	font-weight: 600;
	font-size: 16px;
	margin : 4px 0 0 0;
}

.media h2 a , .media-vertical h2 a{
	color: #333;
}

.media .media-text {
	display: flex;
	flex-direction: column;
	align-self: center;
}
/*media css*/

/*highlighted section css*/
.highlighted-section {
    background-color: #235b6e;
    padding: 45px 0;
    color: #fff;
}

.highlighted-section .section-headline:after {
    background-color: #fff;
}

.highlighted-section h2 a{
	color: #fff;
}

/*highlighted section css ends*/
/*cards section*/
.news-cards{
	margin: 45px 0;
}

.news-card-1 {
	display: flex;
}

.news-card-1 .news-slider{
	margin-bottom: 15px;
}



.news-card-3 .card-image img{
	max-height: 280px;
}

.news-card-3 .card-text {
	margin:0 0 0 10px;
}

.single-page-main .news-card-3 h2 {
    font-size: 24px;
}


/*cards section*/

/*single page css*/
.single-page-main h1{
	font-size: 36px;
}

.single-page-main .news-headline-2 {
    font-size: 21px;
}

.news-sidebar h1{
	font-size: 28px;
}

.sidebar-widget {
	margin: 0 0 18px 0;
}
/*single page css*/

/*category page css*/
.main-category-name {
	padding: 8px;
	background-image: linear-gradient(to right, #235b6e , #fff);
}
/*category page css*/

/*responsive queries*/
@media only screen and (max-width : 768px){
	.show-tab{
		display: block;
	}
}
/*responsive queries*/