<div class="news-slider">
		    <div class="text-over-image-div">
		    	<img src="https://sanskritinepal.com/wp-content/uploads/2021/05/1587379442Oli.jpg" alt="">
		    	<h2 class="text-headline"><a href="">KP OLI1</a></h2>
		    </div>
		    <div class="text-over-image-div">
		    	<img src="https://sanskritinepal.com/wp-content/uploads/2021/05/1587379442Oli.jpg" alt="">
		    	<h2 class="text-headline"><a href="">KP OLI2</a></h2>
		    </div>
		    <div class="text-over-image-div">
		    	<img src="https://sanskritinepal.com/wp-content/uploads/2021/05/1587379442Oli.jpg" alt="">
		    	<h2 class="text-headline"><a href="">KP OLI3</a></h2>
		    </div>
		  </div>